<header>
  <nav class="navbar navbar-expand-lg">
    <%= link_to 'MyApp', root_path, class: 'icon' %>
      <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
              <li>
                <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-outline-primary" %>
              </li>
          <% else %>  
              <li>
                  <%= link_to 'Sign In', new_user_session_path, class: "btn btn-outline-primary"%>
              </li>
              <li class="bob">
                  <%= button_to 'Register', new_user_registration_path, class: 'btn btn-outline-primary' %>
              </li>
          <% end %>
      </ul>
  </nav>
</header>